<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Výběr pobočky u objednávky č.: {$orderNumber}</title>
</head>
<body>
<p>Ahoj,</p>

<p>Zákazník {$name} ({$email}) si u objednávky {$orderNumber} vybral výdejní místo Zásilkovny {$branchName} ({$branchId}).</p>
</body>
</html>
